{% extends 'homepage.html' %}
{% load static %}

{% block content %}

<div class="slider-box">
    <div class="container-fluid slider">
        <section class="d-flex justify-content-between margin-right">
          <p class="text-white"> <b>Trending</b> </p>
          <div class="">
            <button  type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active tab-change-btn" aria-current="true" aria-label="Slide 1"></button>
            <button class="tab-change-btn" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button class="tab-change-btn" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
        </section>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          
          <div class="carousel-inner" style="position: relative; overflow: visible;">
        
            <div class="carousel-item active">
                <section class="d-flex" >
                  {% for movie in movies %}
                    <div class="card"  >
                        <img src="{{movie.image.url}}" class="card-img-top imagesize" alt="...">
                        
                        <div class="card-body"> 
                         <div class="shd">.</div>
                            <section class="d-flex justify-content-between">
                              <div>
                                <i class="bi bi-play-circle-fill card-icon"  ></i>
                                <i  class="bi bi-plus-circle card-icon"></i>
                                <i class="bi bi-hand-thumbs-up card-icon"></i>
                              </div>
                              <div>                                   
                                <i class="bi bi-play-circle card-icon"  id="appear"  data-bs-toggle="modal" data-bs-target="#exampleModal-{{forloop.counter}}" id="big" style="position:absolute; transform: rotate(90deg); margin-left:-1.5rem" id="chevron"></i>
                                  
                              </div>
                            </section>
                            <section class="d-flex align-items-center justify-content-between" >
                               <p class="netflix-card-text m-0" style="color: rgb(0, 186, 0);">97% match</p> 
                                 <span class="m-2 netflix-card-text text-white">Limited Series</span> <span class="border netflix-card-text p-1 text-white">HD</span>
                              
                              </section>
                              <span class="netflix-card-text text-white">Provocative • Psychological • Thriller</span>
                        </div>
                      </div>
                      {% endfor %}
                      </section>
              </div>
        </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div> 
{% endblock content %}
